* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 7);
}

.container {
  // margin: 0 auto;
  min-width: 320px;
  // max-width: 1920px;
}
.title {
  font-weight: 600;
}
.wrapper {
  display: flex;
}
.content {
  width: 75%;
  overflow: hidden;
}

.home {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  &__title {
    margin: 50px 0 80px;
    font-size: 54px;
  }
  .start {
    background-color: rgb(212, 139, 42);
    align-self: center;
    font-size: 36px;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 15px 100px;
    cursor: pointer;
    border: none;
    -webkit-box-shadow: 0px 0px 10px 15px rgba(140, 150, 79, 0.2);
    -moz-box-shadow: 0px 0px 10px 15px rgba(140, 150, 79, 0.2);
    box-shadow: 0px 0px 10px 15px rgba(140, 150, 79, 0.2);

    &:hover {
      background-color: rgba(112, 67, 7, 0.705);
    }
    &:active {
      -webkit-box-shadow: 0px 0px 10px 15px rgba(255, 255, 255, 0.2);
      -moz-box-shadow: 0px 0px 10px 15px rgba(255, 255, 255, 0.2);
      box-shadow: 0px 0px 10px 15px rgba(255, 255, 255, 0.2);
    }
  }
}

.characters {
  &__items {
    // max-width: 1250px;
    // margin: 0 auto; // поки не потрібно
    display: flex;
    justify-content: space-evenly; // переробити
    flex-wrap: wrap;
    padding: 30px 20px 70px;
  }
  &__item {
    max-width: 222px;
    margin: 0 10px;
    overflow: hidden;

    &-avatar {
      max-width: 100%;
      border-radius: 50%;
    }
    &-info {
      text-align: center;
      padding: 10px 20px 50px;
    }
    &-name {
    }
    &-status {
    }
    &-species {
    }
  }
  &__pagination {
  }
  .pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 20px 50px;
  }
  .page-number,
  .button-prev-page,
  .button-next-page {
    padding: 0 5px;
    font-size: 22px;
    cursor: pointer;
  }
  .page-number {
    padding: 0 5px;

    &:hover {
      color: rgb(150, 40, 40);
    }
  }
  .button-prev-page,
  .button-next-page {
  }
}
